<% title "Prioridades" %>

<table border = "0" cellspacing ="1" cellpadding = "0" >
  <thead>
    <tr>
      <th>Descrição</th>
      <th width ="10">Det</th>
      <th width ="10">Del</th>
    </tr>
  </thead>
  <tbody>
    <% for prioridade in @prioridades %>
      <tr>
        <td><%=link_to prioridade.descricao,[:admin,prioridade],class:'inline-link' %></td>
        <td><%= link_to image_tag(image_link[:edit]), edit_admin_prioridade_path(prioridade) %></td>
        <td><%= link_to image_tag(image_link[:del]), 
                        [:admin, prioridade],
                        :confirm => 'Confirma exclusão?', 
                        :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <li class ="links">
    <%= link_to 'Nova Prioridade',new_admin_prioridade_path,:class => 'new' %>
  </li>
</p>
