<%= content_tag :div, {:style => "margin:5px; width:89.6%", :class=>"user_info" }  do %>
  <ul id="info">
    <strong>Informações</strong>
    <li id="info">
      Atenção. É extremamente importante que se tenha conhecimentos sobre o
      banco de dados que o sistema esta utilizando
    </li>
    <li id="info">
      Campos inseridos nesta consulta poderão causar erros na visualização das consultas,
      portanto apenas utilize este cadastro quando houver certeza quanto a sua utilização
    </li>
     <li id="info">
      Favor consultar o manual ou entre em contato com o suporte em caso de dúvidas
      quanto aos campos a serem preenchidos.
    </li>
   </ul>
<% end %>
