<% title "Edição de Usuários" %>
<%= render :partial => 'form' %>
<p>
  <li class ="links"><%= link_to 'Exibir',@usuario,:class => 'show' %></li>
  <li class ="links"><%= link_to 'Voltar Lista',usuario_path,:class => 'back' %></li>
</p>
