<% title "Agenda de Compromisso" %>
<%= content_for :bar do %>
  <%= link_to "Novo Compromisso", 
              new_usuario_compromisso_path, 
              remote:true, 
              id:"new-compromisso-link",
              class:"button-add-new add-on-index-top-with-header" %>
<% end %>

<div id="show-modal-agenda-container" style="height: 100%">
	<div id="calendario-container">
	  <%= render 'calendario' %>
	</div>
</div>