<div class="permission-container">
	<%= image_tag("stop.jpg",class:'img-permission-denied') %>
	<br><br><br>

	<p>Ops,</p><br>
	<p style="font-size: 50px;margin-top: 30px;">
		Você não possui direito de 
		acesso a esta rotina!
	</p>
</div>