<% title 'Permissão Negada' %>
<div class="permission-container">
	<%= image_tag("stop.jpg",class:'img-permission-denied') %>
	<br><br><br>

	<p><u>ATENÇÃO</u>,</p><br>
	<p style="font-size: 45px;margin-top: 30px;">
		Você não possui direito de 
		acesso a esta operação!
	</p>
	<p style="font-size: 45px;margin-top: 30px;">
		Contact o Administrador do Sistema.
	</p>
	<p style="font-size: 20px;margin-top: 30px;">
		<%= link_to_back %>
	</p>
</div>