<div id="aba-cliente-solucoes">
  <div id="solucoes-tabs" class="menutab-content">
    <%= content_tag :ul, style:'background-color: #FFF' do %>
    	<% @solucoes.each do |solucao| %>
        <li>
          <%= link_to "#aba-#{solucao.descricao.gsub(" ","")}" do %>
            <span><%= solucao.descricao %></span>
          <% end %>
        </li>
  		<% end %>
    <% end %>
    <% @solucoes.each do |solucao| %>
      <%= render partial:"solucoes_tab", :locals => {solucao:solucao,from:from} %>  
    <% end %>
  </div>
</div>