<div id="tarefa-show-modal-container">
	<div id="div_show">
		<div id="show-fields">
			<%= render 'show_fields' %> 
		</div>
	  <br>
	  <br>
	  <br>
	  <br>
    <%= link_to "Editar Planejamento",
            edit_usuario_tarefa_path(@tarefa),
            class:"common-link edit-tarefa",
            id: 'edit-tarefa',
            remote:true %> |

    <%= link_to "Excluir Planejamento",
                usuario_tarefa_path(@tarefa),
                method: :delete,
                confirm:'Confirma exclusão do Planejamento?',
                remote:true,
                class:"common-link",
                id: 'destroy-tarefa' %>
</div>