<div id="aba-cliente-infra">
	<%= render partial:"shared/cliente_infras/show", 
						locals: {cliente_infra:@cliente.infra}%>

	<%= render partial:"shared/cliente_check_list_itens/index", 
						locals: {cliente_check_list_itens:@cliente.check_list_items, 
										 cliente_id:@cliente.id}%>						
</div>