<% title "Listagem Clientes" %>
<%= content_for :bar do %>
  <%= link_to "Novo Cliente", 
              new_usuario_cliente_path, 
              class:"button-add-new add-on-index-top-with-header" %>
<% end %>
<%= render "search_form" %>
<div id="clientes-container">
  <%= render "clientes" %>
</div>
