<% title "Ordens de Serviços" %>
<% content_for :left_container do %>
  <h1>Ordem de Serviços</h1>
  <%= render "search_form" %>
<% end %>
<%= content_tag :div, id:"ordem_servicos" do %>
  <% render "ordem_servicos" %>
<% end %>

<% content_for :bar do %>
    <%= link_to 'Nova Ordem Serviço', 
                            new_usuario_ordem_servico_path,
                            class:'button-add-new add-on-index-top-with-header'  %>
<% end %>



