<div id="modal-container">
	<% if @projeto_programacao_treinamento.status == ProjetoProgramacaoTreinamento::CANCELADA %>
  	<%= render 'campos_cancelamento' %>
	<% else %>
		<%= render 'campos_cadastro' %>
	<% end %>
</div>