<% title "Controle de Solicitações - #{@status_description}" %>
<%= render :partial   => "search_form",
           :locals    => {:remote_form => false} %>

<div id="solicitacoes">
  <%= render 'solicitacoes' %>
</div>

<% content_for :bar do %>
	<%= link_to "Planejar", usuario_tarefas_path(solicitacao_ids:'1,2,3') %>
	<%= link_to 'Nova Solicitação', 
							new_usuario_solicitacao_path, 
							remote:true, 
							id:'solicitacao-link',
							class:'button-add-new add-on-index-top-with-header'  %>
<% end %>