.grafico-container {
	/*border: 0px solid #E8E5E5;*/
	color:#3A3A3A;
	border: 1px solid #eee;
	font-style: normal;
	font-weight: bold;
	height: 100%;
	width: 100%;
	margin: -4px 0 0 -2px;
	text-align: center;
	line-height: 23px;
	vertical-align: center;

}

/*
.sem-progresso {
	border: 1px solid #eee;
	.grafico {
		color: #777;
		border: 0px;
	}
}*/

.grafico {
	color:#222;
	font-weight: bold;
	height: 100%;
	margin-top: -23px;
}

.noprazo {
	background-image: linear-gradient(bottom, rgb(40,111,173) 20%, rgb(12,144,232) 60%);
	background-image: -o-linear-gradient(bottom, rgb(40,111,173) 20%, rgb(12,144,232) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(40,111,173) 20%, rgb(12,144,232) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(40,111,173) 20%, rgb(12,144,232) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(40,111,173) 20%, rgb(12,144,232) 60%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, rgb(40,111,173)),
		color-stop(0.6, rgb(12,144,232))
	);
}

.em-alerta {
	background-image: linear-gradient(bottom, rgb(214,176,23) 12%, rgb(237,201,55) 56%);
	background-image: -o-linear-gradient(bottom, rgb(214,176,23) 12%, rgb(237,201,55) 56%);
	background-image: -moz-linear-gradient(bottom, rgb(214,176,23) 12%, rgb(237,201,55) 56%);
	background-image: -webkit-linear-gradient(bottom, rgb(214,176,23) 12%, rgb(237,201,55) 56%);
	background-image: -ms-linear-gradient(bottom, rgb(214,176,23) 12%, rgb(237,201,55) 56%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(214,176,23)),
		color-stop(0.56, rgb(237,201,55))
	);
}

.comprometido {
	background-image: linear-gradient(bottom, rgb(161,15,15) 12%, rgb(227,25,25) 56%);
	background-image: -o-linear-gradient(bottom, rgb(161,15,15) 12%, rgb(227,25,25) 56%);
	background-image: -moz-linear-gradient(bottom, rgb(161,15,15) 12%, rgb(227,25,25) 56%);
	background-image: -webkit-linear-gradient(bottom, rgb(161,15,15) 12%, rgb(227,25,25) 56%);
	background-image: -ms-linear-gradient(bottom, rgb(161,15,15) 12%, rgb(227,25,25) 56%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(161,15,15)),
		color-stop(0.56, rgb(227,25,25))
	);
}

.concluindo {
	background-image: linear-gradient(bottom, rgb(43,107,6) 12%, rgb(44,179,18) 56%);
	background-image: -o-linear-gradient(bottom, rgb(43,107,6) 12%, rgb(44,179,18) 56%);
	background-image: -moz-linear-gradient(bottom, rgb(43,107,6) 12%, rgb(44,179,18) 56%);
	background-image: -webkit-linear-gradient(bottom, rgb(43,107,6) 12%, rgb(44,179,18) 56%);
	background-image: -ms-linear-gradient(bottom, rgb(43,107,6) 12%, rgb(44,179,18) 56%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(43,107,6)),
		color-stop(0.56, rgb(44,179,18))
	);
}