.highlight {
  background-color: yellow;
}

html {
  height:100%;
  max-height:100%;
  padding:0;
  margin:0;
  border:0;
  background: #4B5267 ;/*#F5F5F5;*/
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:13px;
  overflow: hidden;
}

/*Corpo do Html
------------------------------------------------------------------*/
body {
  height:100%;
  max-height:100%;
  overflow:hidden;
  padding:0; margin:0; border:0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:13px;
  background: #4B5267; /*#d6e2e5;*/
  margin-left: 5px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

.flash-container {
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  width: 450px;
  top: -2px;
  z-index:999;
  text-align: center;
  #flash_notice,#flash_warning {
    min-height: 30px;
    padding: 5px 8px;
    margin: 0px 0px 5px 0px;
    border-radius: 0px 0px 10px 10px; 
    -moz-border-radius: 0px 0px 10px 10px; 
    -webkit-border-radius: 0px 0px 10px 10px;       
  }

  #flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
  }


  #flash_warning {
    padding: 5px 8px;
    margin: 0px 0px 5px 0px;

  }

  #flash_warning {
    background-color: #ffc3c6 ;
    border: solid 1px #e08a8e;
  }

}


#toolbar {
  position:fixed;
  width:85.79;
  height:34px;
  left:262px;
  right:0;
  top:51px;
  background: #F5F5F5;
  margin:4px;
  border: 1px solid #C3C7D0;
  border-radius: 0px 5px 5px 0px; 
  -moz-border-radius: 0px 5px 5px 0px; 
  -webkit-border-radius: 0px 5px 5px 0px;
  .title {
    color: #625B5B;
    font-size: 16px;
    font-size-adjust: 0.523;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFF;
    float:left;
    margin: 3px 0px 0px 9px;
  }
}
#toolbar_itens {
  float:right;
  margin:1px;
}
#toolbar_itens ul {
  float:left;
  padding:0px;
  margin:0px;
  list-style:none;
}
#toolbar_itens ul li {
  float:right;
  margin:4px 3px 0px 2px;
}



/*Conteúdo
------------------------------------------------------------------*/
.content {
  overflow:auto;
  position:absolute;
  z-index:3;
  top:85px;
  bottom:0px;
  left:262px;
  right:0;
  background:#FFF;
  margin:4px;
  border: 1px solid #C3C7D0;
  padding:0px 7px 0px 7px;
  border-radius: 0px 0px 5px 0px; 
  -moz-border-radius: 0px 0px 5px 0px; 
  -webkit-border-radius: 0px 0px 5px 0px;
}
* html .content {
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  max-height:100%;
  width:100%;
  overflow:auto;
  position:absolute;
  z-index:3;
  border-top:100px solid #fff;
  border-bottom:50px solid #fff;
  border-left:200px solid #fff;
}

/*Cabecalho
------------------------------------------------------------------*/
.head {
  background: #4B5267 ;/*url(/assets/background/header.png) repeat-x;*/
  margin:0; top:0;
  left:0;
  display:block;
  width:100%;
  height:56px;
}
.head .logo {
  position:relative;
  background-color:blue	;
  width:150px;
  margin-top:2px;
  float:left;
  background:url(/assets/foto/foto.png)
}

.head .user-container {
  background: url(/assets/background/user_info.png) repeat-x;
  border-left: 1px solid #7eb3cc;
  border-radius: 0px 0px 5px 5px; 
  -moz-border-radius: 0px 0px 5px 5px; 
  -webkit-border-radius: 0px 0px 5px 5px;
  float: right;
  height: 34px;
  margin-right: 4px;
  width: 220px;
  .user-photo {
    background-image: url(/assets/foto/foto.png);
    border: 1px solid gray;
    float:left;
    height:27px;
    width:28px;
    position:relative;
    margin:2px 2px 0px 3px;
  }
  .login-info {
    position:relative;
    width:180px;
    float:right;
    margin:2px 0px 0px 0px;
    font-size:0.22em;
    text-align:right;
    padding-right:5px;
    p.email, p.description {
      color:#fff;
      float:left;
      font-size: 12px;
      font-weight: bold;
      width: 155px; display:table;
      text-align: left;
    }
    p.description {
      font-size: 10px;
      margin: -5px 0 0 10px;
    }

    a {
      border-left: 1px solid #4C5368;
      color: #484f63;
      font-size: 11px;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 1px 0 0 #c6d1ec;
      margin: -2px 2px 0px 6px;
      padding-left: 4px;
      float: left;
      &:hover { text-decoration: underline; }
    }
    a.logoff {
      border: 0px;
    }
  }
}

.head .search-field-container {
  float: right;
  height: 51px;
  padding: 2px 30px 0 0;
  width: 450px;
  margin-top: -4px;
  .header-search-field, .search-buttom {
    border: 0px;
    float: left;
  }
  input.header-search-field {
    font-size: 20px !important;
    height: 34px !important;
    border-radius: 0px 0px 0px 5px;
    -moz-border-radius: 0px 0px 0px 5px;
    -webkit-border-radius: 0px 0px 0px 5px;
    width: 100px !important;
    min-width: 400px !important;
    max-width: 400px !important;
    padding-left: 5px;
  }
  .search-buttom {
    height: 36px !important;
    border-radius: 0px 0px 5px 0px;
    -moz-border-radius: 0px 0px 5px 0px;
    -webkit-border-radius: 0px 0px 5px 0px;
    background: #FFF url(/assets/icons/24/search.png) no-repeat center;
    cursor: pointer;
    width: 40px;
    &:hover { background-color: #eee;}
  }
  label {
    color: #FFF;
    font-size: 10px ;
    font-weight: bold;
    font-style: italic;
    margin-top: -2px;
    width: auto;
    float: left;
  }
  a {
    color: #FFF;
    float: right;
    font-size: 11px;
    margin-top: -2px;
    text-decoration: none;
    &:hover { text-decoration: underline;}
  }
}


/*Container menu lateral esquerdo
------------------------------------------------------------------*/
.left {
  position:absolute;
  left:0;
  top:52px;
  bottom:0px; width:230px;
  font-size:1.2em;
  z-index:4;
  overflow:auto;
  margin:3px 0;
  width: 270px;
  bottom: 0;
}
* html .left {
  top:0; bottom:0;
  color:#fff;
}


ul.menu-icon-bar {
  /*
  background: #f4f4f4; 
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  #f4f4f4 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f4f4f4), color-stop(100%,#eaeaea)); 
  background: -webkit-linear-gradient(left,  #f4f4f4 0%,#eaeaea 100%); 
  background: -o-linear-gradient(left,  #f4f4f4 0%,#eaeaea 100%); 
  background: -ms-linear-gradient(left,  #f4f4f4 0%,#eaeaea 100%); 
  background: linear-gradient(to right,  #f4f4f4 0%,#eaeaea 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eaeaea',GradientType=1 ); 
  
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 1px solid #BFBFBF;
  */
  background-color: #DBDBDB;
  float: left;
  padding: 5px 5px 0 5px;
  margin:0 0 0 0;
  list-style:none;
  width: 53px;
  height:99%;
  padding: 1px solid #C3C7D0;
  position:relative;
  overflow:hidden;
  li {
    margin-bottom: 8px;
    a {
      img {
        margin: 5px 5px 1px 10px;
      }
    }
    &.current,&:hover {
      background-color: #F5F5F5;
      border-bottom: 1px solid #C3C7D0;
      border-radius: 5px 0px 0px 5px; 
      -moz-border-radius: 5px 0px 0px 5px; 
      -webkit-border-radius: 5px 0px 0px 5px;
    }
  }
}

.left-col-container {
  background-color: #F5F5F5;
  float: left;
  padding:0;
  margin:0;
  list-style:none;
  left:56px;
  width:210px;
  position:absolute;
  overflow:hidden;
  border-bottom: 1px solid #C3C7D0;
  border-radius: 5px 0px 0px 5px; 
  -moz-border-radius: 5px 0px 0px 5px; 
  -webkit-border-radius: 5px 0px 0px 5px;
  bottom: 0;
  top: 0;
  h1 {
    color: #625B5B;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 0 white;
    border-bottom: 1px solid #C3C7D0;
    height: 35px;
    line-height: 35px;
    text-indent: 17px;
    margin: 0px;
    padding: 0px;
  }
  p.pesquisa-hint {
    float:left;
    margin-left: 10px;
    width: 190px;
    font-size: 10px;
  }
}

ul.my-tasks {
  margin-bottom: 20px;
  width: 100%;
  li {
    height: 35px;
    line-height: 30px;
    background:#f5f5f5;
    &:hover {
      background-color: #C4ECFF;
    }
    a {
      color: #557494;
      display: block;
      text-decoration: none;
      margin-left: 16px;
      &:hover { font-weight: bold;  }
    }
    span {
      background-color: #E6E9F2;
      color: #686363 ;
      position: absolute;
      width: 39px;
      height: 23px;
      margin: -25px 0px 0px 166px;
      text-align: center;
      line-height: 23px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      box-shadow: 1px 1px 0 #fff;
      padding:0;
    }
  }
}


/*Menu Vertical ---> Lateral esquerdo
------------------------------------------------------------------ */
/*
#slide {
  background-color: #F5F5F5;
  float: left;
  padding:0;
  margin:0;
  list-style:none;
  left:56px;
  width:210px;
  position:absolute;
  overflow:hidden;
  border-bottom: 1px solid #C3C7D0;
  border-radius: 5px 0px 0px 5px; 
  -moz-border-radius: 5px 0px 0px 5px; 
  -webkit-border-radius: 5px 0px 0px 5px;
  bottom: 0;
  top: 0;

}

ul li div {position:absolute; left:-9999px; background:#fff;}
#slide li h1 {
  line-height: 33px;
  font-size:13px;
  color:#333;
  font-weight: bold;
  padding:0;
  margin:0;
  height:35px;
  background: #F5F5F5;
  text-shadow: 0 1px 0 #fff;
}


#slide li.top {
  display:block;
  float:left;
  height:24px;
  line-height:24px;
  width:228px; color:#000;
  background:#e2e2e2;
  text-decoration:none;
  font-family: verdana,
  sans-serif;
  font-size:12px;
  text-indent:10px;
  overflow:hidden;

}

#slide li {color:#eee; background:#fff; cursor:pointer;}
#slide li.clicked {
  color:#333;
  background:#f5f5f5;
}
#slide li.clicked h1.title,
#slide li.clicked h1.first {
  color:#333;
  background: #F5F5F5;
  border-top: 1px solid #C3C7D0;
  border-bottom: 1px solid #C3C7D0;
  width:228px;
}
#slide li.clicked h1.first {
  border-top: 0px !important ;
}

#slide li ul {
  width: 100%;
  li {
    height: 35px;
    line-height: 30px;
    background:#f5f5f5;
    &:hover {
      background-color: #C4ECFF;
    }
    a {
      color: #557494;
      display: block;
      text-decoration: none;
      margin-left: 8px;
      &:hover { font-weight: bold;  }
    }
    span {
      background-color: #E6E9F2;
      color: #686363 ;
      position: absolute;
      width: 39px;
      height: 23px;
      margin: -25px 0px 0px 156px;
      text-align: left;
      line-height: 23px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      box-shadow: 1px 1px 0 #fff;
      padding:0;
    }
  }
}

#slide li ul li.static-item {
  background-image: url(/assets/background/bg3.png);
  color: #625b5b;
  font-size: 14px;
  height: 34px;
  font-weight: bold;
  line-height: 33px;
  text-shadow: 0 1px 0 #E0E0E0;
  width: 210px;
  h2, a.header-link {
    background: none;
    color: #625b5b;
    font-size: 14px;
    float: left;
    margin-top: 0px;
    width: auto;
  }
  a.header-link:hover { color: #1B4A61 ;}
  a {
    background: url(/assets/background/sprite2.png);
    float: right;
    height: 24px;
    width: 24px;
    margin: 5px 5px 0 0;
    &.add-link { background-position: -5px -5px; }
    &.find-link { background-position: -5px -37px; }
  }
}
*/
/*
#slide li div {position:static; height:321px; width:187px; padding-left:15px; line-height:1.2em; font-family: verdana, sans-serif; text-indent:0;}
#slide li div img {display:block; margin:5px 0 8px 0;}
#slide li div img.fLeft {clear:left; float:left; display:block; margin:8px; margin-right:0px;}

#slide li div h3 {font-size:13px; color:#000; padding:0; margin:0;}

#slide li div p {font-size:12px; color:#888; line-height:1.4em; padding:10px 0; margin:0;}

#slide li div a {color:#00c; text-decoration:none; font-size:11px;}
#slide li div a:hover {text-decoration:underline; background:#fff;color:#00c;}

#slide li div a.big {display:block; height:30px; line-height:30px; border-top:1px solid #ddd; font-size:14px; color:#44a; text-decoration:none; text-indent:5px;}
#slide li div a.big:hover {background:#678; color:#000; font-size:14px; text-decoration:none;}
*/

/*

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
*/
/*Links
----------------------------------------------------------------*/
.links{
	font-size:12px;
	width:130px;
	height:20px;
	padding-top:0px;
	padding-bottom:0px;
	list-style:none;
	float:left;
	margin-right:5px;

}
.links:hover{
	font-size:12px;
	height:20px;
	background-position:-160px 0px;
	padding-top:0px;
	padding-bottom:0px;
	list-style:none;
}
.links a {
	text-decoration:none;
	list-style:none;
	position:absolute;
	margin-left:8px;
	width:130px;
	height:16px;
	text-indent: 20px;
}
.links a.new {
	background: url(/assets/icons/16/new.png) no-repeat left center;
}
.links a.edit {
	background: url(/assets/icons/16/edit.png) no-repeat left center;
}
.links a.back {
	background: url(/assets/icons/16/back.png) no-repeat left center;
}
.links a.show {
  background: url(/assets/icons/16/back.png) no-repeat left center;
}
.links a.del {
	background: url(/assets/icons/16/delete.png) no-repeat left center;
}
.links a.contato {
	background: url(/assets/icons/16/contato.png) no-repeat left center;
}

/*Will_Paginate
--------------------------------------------------------------*/
#paginate {
  background: transparent;
  margin-top:1px;
  height:15px;
}
#paginate a, #paginate span {
  padding: .2em .5em;
  display: block;
  float: right;
  margin-right: 1px; }
#paginate span.disabled {
  color: #999;
  border: 1px solid #DDD;
}
#paginate span.current {
  font-weight: bold;
  background: #2E6AB1;
  color: white;
  border: 1px solid #2E6AB1;
}
#paginate a {
  text-decoration: none;
  color: #105CB6;
  border: 1px solid #9AAFE5;
}
#paginate a:hover, #paginate a:focus {
  color: #003;
  border-color: #003;
}
#paginate .page_info {
  background: #2E6AB1;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center;
}
#paginate .page_info b {
  color: #003;
  background: #6aa6ed;
  padding: .1em .25em;
}
#paginate:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html #paginate {
  height: 0.5%;
}
*:first-child+html #paginate {
  overflow: hidden;
}




/* Container grid
---------------------------------------------------------*/
#div_grid {
  background-color:#f5f5f5;
  width:100%;
  min-width:100%;
  max-width:100%;
  padding:10px 10px 10px 10px ;
  border: 1px solid #d6d6d6;
  border-bottom:2px solid #d6d6d6;
}

.menu {
  background:#fff;
  width:500px;
  height:100%;
  padding:0px;
  padding-top:0.1px;
  margin-top:5px;

  /*border: 1px solid;*/

}
/*
.menu ul {
  background:transparent;
  width:190px;
  height:auto;
  padding:0px;
  margin-left:-10px;
  list-style:none;
  margin-top:5px;
}
.menu ul li ul h1 {
  width:170px;
  background:transparent;
  color:#000;
  text-indent: 20px;
}
.menu ul li {
  background:transparent;
  height:20px;
  width:150px;
  line-height:19px;
  margin:0px;
  margin-bottom:3px;
  color:#000;
  padding-left:21px;
}
#menu ul li.find { background:url(../images/icons/16/find.png) no-repeat;margin-left:23px; }
#menu ul li.nova_sol { background:url(../images/icons/16/new.png) no-repeat;margin-left:23px; }
#menu ul li:hover {
  background-color:gray;
}

#menu ul li a {
  height:20px;
  width:180px;
  line-height:19px;
  margin:0px;
  margin-bottom:3px;
  color:#000;
  padding-left:2px;
  display:block;
}
#menu ul li a.negrito {font-weight: bold;}
#menu ul li a:hover {
  text-decoration: none;
  background-color:transparent;

}
*/

/*Menu Vertical ---> Lateral esquerdo
------------------------------------------------------------------ */
.msg_list {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.msg_head {
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  background-color:#d6e2e5;
  margin:1px;
  border:1px solid #91c2ce;

}
.msg_body {
  padding: 5px 10px 0px;
  background-color:#F4F4F8;
  border:1px solid #b6c0c3;
  margin:1px;
}
.msg_foot {
  position: relative;
  margin:2px;
  text-align:right;
}

#legenda {
  border:1px solid #d6d6d6;
  width:43%;
  padding:6px;
}

#legenda legend {
  padding:0.2em 0.5em;
  font-weight:bold;
  color:blue;
  font-size:90%;
  text-align:right;
}
#legenda label {
  margin-left:10px;
  width:120px;
  display:inline-block;
  text-align:left;
}

#legenda select {
  margin-left:10px;
  width:300px;
}

#campos {
  /*list-style:none;*/
}

li .handle {
  font-size:12px;
  cursor:move;
  color:#777;
  width:auto;
  line-height:10px;
}


#panel {
  background-color:#f5f5f5;
  padding:10px 10px 10px 10px ;
  border: 1px solid #d6d6d6;
  border-bottom:2px solid #d6d6d6;
  margin: 5px 0px 0px 5px;
}
#info  {
  margin-left:13px;
}

.div-field {
  padding-bottom:7px;
  label {
    color: #535353;
    display:block;
    font-weight: bold;
    width:22%;
    float:left;
    padding-top:.2em;
  }
  p.inline-errors {
    color: #CC0000;
    margin: 0.5em 0 0 22%;
  }
}

.check {
  margin:0px 0px 0px 1px;
  padding:0px 0px 0px 0px;
}


.search-result-list {
  margin-top: 10px;
  .item {
    border-bottom: 1px solid #C1C1C1;
    padding: 10px 0 10px 0;
    &:hover { background-color: #F5F5F5 }
    a.title {
      color: #6CA2CC;
      font-size: 19px;
      font-weight: bold;
      text-decoration: none;
      &:hover {text-decoration: underline;}
    }
    p {
      margin: 14px 0 5px 0;
    }
  }
}
