<% title "Informações da Última Atualização" %>
<p>
  <strong>Versão:</strong>
  <%= @versao_sistema.versao %>
</p>
<p>
  <strong>Alterações Realizadas:</strong>
  <%= @versao_sistema.detalhe %>
</p>




