/*
  CONFIGURACOES PAGINA INDEX
*/
.projetos-left-container {
	background-color: #FFF;
	border-radius: 5px 0 0 5px;
  height: 91.5%;
  list-style: none outside none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 230px;
}

.projeto-toolbar {
	left: 231px !important;
}

.projetos-conteudo {
	background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C3C7D0;
  border-radius: 0 0 5px 0;
  bottom: 0;
  left: 231px;
  margin: 4px;
  overflow: auto;
  padding: 0 7px;
  position: absolute;
  right: 0;
  top: 85px;
  z-index: 3;
}

ol.choices-group {
  margin-left: 4px;
  li.choice {
    float: left;
    background-color: #EEEEEE; 
    height: 14px;
    padding: 4px;
    width: 560px;
    margin: 2px !important;
    margin-bottom: 0;
    input {
      float: left;
      margin:1px 0px 0px 10px;
    }
    label {
      float: left !important;
      margin:1px 0px 0px 5px;
      width: 100%;
    }
    span.drag {
      background-image: url('/assets/icons/16/drag-arrow.png');
      float: left;
      height: 16px;
      width: 16px;
    }
  }
}


/*
  CONFIGURACOES PAGINA SHOW
*/
.projeto-conteudo {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C3C7D0;
  border-top: 0px;
  border-radius: 0 0 5px 0;
  bottom: 0;
  left: 231px;
  margin: 4px;
  overflow: auto;
  padding: 10px 0 0 7px;
  position: absolute;
  right: 0;
  top: 52px;
  z-index: 3;
}
