<table border ="0" cellspacing ="1" cellpadding ="0" style = "width:99%" >
  <caption>Sub Módulos </caption>
  <thead>
    <tr>
      <th>Descrição</th>
      <th width="10">Det</th>
      <th width="10">Edit</th>
      <th width="10">Del</th>
    </tr>
  </thead>
  <tbody>  
    <% for solucao_sub_modulo in @solucao_sub_modulos %>
      <tr>
        <td><%=h solucao_sub_modulo.descricao %></td>
        <td><%= link_to image_tag(image_link[:show]), 
                admin_solucao_sub_modulo_path(:id => solucao_sub_modulo.id,:local => :modulo_show)  %></td>
                
        <td><%= link_to image_tag(image_link[:edit]), 
            edit_admin_solucao_sub_modulo_path(solucao_sub_modulo,:local => :modulo_show) %></td>
            
        <td><%= link_to image_tag(image_link[:del]), 
                [:admin, solucao_sub_modulo], 
                :confirm => 'Confirma Exclusão?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

