<div id="fragment-2">
	<%= f.inputs do %>
	  <%= section_tag do %>
	    <%= f.input :descricao, 
	                :label       => "Descrição",
	                :input_html => {:rows => 9, :cols => 12 }%>
	  <% end %>
	<% end %>
</div>