<% if @projetos.any? %>
	<table border="0"  cellspacing="1" cellpadding="0" class="tablesorter">
	  <thead>
	    <tr>
	      <th>Nome Projeto</th>
	      <th>Cliente</th>
	      <th>Progresso</th>
	    </tr>
	  </thead>
	  <tbody>
	    <%= render @projetos %>
	  </tbody>
	</table>
<% else %>
	"Nada foi encontrado"
<% end %>