<% if @projetos.any? %>
	<table border="0"  cellspacing="1" cellpadding="0" class="tablesorter">
	  <thead>
	    <tr>
	      <th width="400">Nome Projeto</th>
	      <th>Cliente</th>
	      <th width="200">Progresso</th>
	    </tr>
	  </thead>
	  <tbody>
	    <%= render @projetos %>
	  </tbody>
	</table>
<% else %>
  <%= content_tag :div, 
	"Não há projetos a serem listados",
  class:'notification-alert' %>

<% end %>