<tr>
  <td><%= link_to projeto.nome, [:usuario,projeto] %></td>
  <td><%= projeto.cliente.nome %></td>
  <td>
  	<div class="grafico-container">
  		<%= content_tag(:div, "#{projeto.id * 20}%", class:"grafico-noprazo", :style => "width:#{projeto.id * 10}%") %>
		</div>
	</td>
</tr>