<tr>
  <td>
  	<%= link_to projeto.nome, [:usuario,projeto], class:'inline-link' %>
  </td>
  <td>
		<%= projeto.cliente.nome %>
	</td>
  <td>
		<%= plota_grafico(perc:(projeto.progresso)) %>
	</td>
</tr>