<tr>
  <td>
  	<%= link_to projeto.nome, [:usuario,projeto] %>
  	<span>criado em <%= projeto.informacoes_sobre_criacao %></span>
  </td>
  <td>
		<%= projeto.cliente.nome %>
	</td>
  <td>
  	<div class="grafico-container">
  		<%= plota_grafico(perc:(projeto.id * 10)) %>
		</div>
	</td>
</tr>