<% title 'Lista de Projetos' %>
<% content_for :left_container do %>
  <h1>Projetos</h1>
  <%= render "search_form" %>
<% end %>
<%= content_tag :div, id:"projetos" do %>
  <% render "projetos" %>
<% end %>

<% content_for :bar do %>
	<%= link_to 'Novo Projeto', 
							new_usuario_projeto_path, 
							id:'projeto-link',
							class:'button-add-new add-on-index-top-with-header'  %>
<% end %>

