<% title 'Tarefas' %>
<% content_for :left_container do %>
  <%= render "projeto_resumo" %>
<% end %>

<% content_for :menu do %>
  <ul>
  	<li class="active"><%= link_to "Tarefas / Solicitações", "#" %></li>
  	<li><%= link_to "Plano de Implantação", "#" %></li>
  </ul>
<% end %>


<%= render 'solicitacoes' %>
