<% title "Categoria" %>
<div id="div_show">
  <p>
    <strong>Descrição:</strong>
    <%= @categoria_cliente.descricao %>
  </p>
</div>
<li class ="links">
  <%= link_to 'Voltar',usuario_categoria_clientes_path,:class => 'back' %>
</li>
